{% extends 'base.html'%}
{% load static %}

{% block content %}


<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"> 일상 성공  </div>
    </div>
</header>

<style>
  td:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.7);
  }
</style>

<div class="detail-section container bg-light">
  
  <div class="row">
    <h3 class="col-md-7 col-lg-7" >Goal of this study</h3>
    
    <div class="col-md-7 col-lg-7">
    {%  for goal in goals|slice:":3" %}
    <div class="card">
      <div class="card-body">
        <h4>{{goal.goal}}</h4>
        <span style="position: relative; float: right;">
          <a href="{% url 'completed' goal.pk %}"class="btn btn-success"><i class="fa fa-check"></i></a>
          <a href="{% url 'delete_goal' goal.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
          <a href="#goal_edit_modal" data-bs-toggle="modal" class="btn btn-primary" onclick="setGoalId('{{ goal.pk }}')"><i class="fa fa-pencil"></i></a>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
  
    <div class="col-md-5 col-lg-5">
      <h4>Completed Goals</h4>
      {% for goal in completed_goals|slice:":3" %}
      <div class="card m-1">
        <div class = "card-body"> 
          <h5>{{goal.goal}}</h5>
          <span style="position: relative; float: right;">
            <a href="{% url 'undo_goal' goal.pk %}"class="btn btn-warning"><i class="fa fa-refresh"></i></a>
            <a href="{% url 'delete_goal' goal.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
          </span>
          
        </div>
      </div>
      {% endfor %}
    </div>
  
  </div>

  {% if goals.count < 3 %}
  <form class="form-group input-group"  action = "{% url 'add_goal'%}" method="POST">
    {% csrf_token %}
    <div class="col-lg-6 col-sm-9 col-md-8">
      <div class="input-group mb-3">
        <input  class ="form-control mt-4" name="goal" type="text" placeholder="Please Add this study's Goal" autofocus>
        <input class="btn btn-success mt-4" type="submit"  value="Add">
      </div>
      </div>
  </form>
  {% endif %}

  
</div>


<div class="detail-section container">

  <h2>Success Calendar</h2>
  <div class = "table-responsive mt-4">
    <table class="table table-bordered info">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Reading</th>
          <th scope="col">Listening</th>
          <th scope="col">Writing</th>
          <th scope="col">Speaking</th>
          <th scope="col">Test</th>
          <th scope="col">Review</th>
          <th scope="col">Day off</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td class="day-cell" data-day-id="1" >Day1</td>
          <td class="day-cell" data-day-id="2" >Day2</td>
          <td class="day-cell" data-day-id="3" >Day3</td>
          <td class="day-cell" data-day-id="4" >Day4</td>
          <td class="day-cell" data-day-id="5" >Day5</td>
          <td class="day-cell" data-day-id="6" >Day6</td>
          <td class="day-cell" data-day-id="7" >Day7</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td class="day-cell" data-day-id="8" >Day8</td>
          <td class="day-cell" data-day-id="9" >Day9</td>
          <td class="day-cell" data-day-id="10" >Day10</td>
          <td class="day-cell" data-day-id="11" >Day11</td>
          <td class="day-cell" data-day-id="12" >Day12</td>
          <td class="day-cell" data-day-id="13" >Day13</td>
          <td class="day-cell" data-day-id="14" >Day14</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td class="day-cell" data-day-id="15" >Day15</td>
          <td class="day-cell" data-day-id="16" >Day16</td>
          <td class="day-cell" data-day-id="17" >Day17</td>
          <td class="day-cell" data-day-id="18" >Day18</td>
          <td class="day-cell" data-day-id="19" >Day19</td>
          <td class="day-cell" data-day-id="20" >Day20</td>
          <td class="day-cell" data-day-id="21" >Day21</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td class="day-cell" data-day-id="22" >Day22</td>
          <td class="day-cell" data-day-id="23" >Day23</td>
          <td class="day-cell" data-day-id="24" >Day24</td>
          <td class="day-cell" data-day-id="25" >Day25</td>
          <td class="day-cell" data-day-id="26" >Day26</td>
          <td class="day-cell" data-day-id="27" >Day27</td>
          <td class="day-cell" data-day-id="28" >Day28</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td class="day-cell" data-day-id="29">Day29</td>
          <td class="day-cell table-success" data-day-id="30" >Day30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
  </div>
</div>

<section class="detail-section bg-light container">
 <h1>Daily study contents</h1>
 <h2 id="date_count"></h2>
  <h2 id="title"></h2>
  <div id="content"></div>




</section>
<section class="detail-section container">
    <h1> Your Work</h1>
    <form action="{% url 'workout'%}" class="form-group" method="POST">
    
      {% csrf_token %}
      <div class="form-row">
        <label class="mb-2">Title</label>
      {{form.title}}
      </div>
      <br>
      {{form.content}}
     
      <div class="input-group mt-3">  
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      
    </form>
</section>


<!-- habit detail goals edit modal popup-->
<div class="portfolio-modal modal fade" id="goal_edit_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="width: 500px; height: 400px; margin: auto;">
      <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg'%}" alt="Close modal" /></div>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-12">
                      <div class="modal-body">
                          <!-- Project details-->
                         
                          <form class="form-group input-group"   id="edit_goal_form"  method="POST">
                              {% csrf_token %}
                              <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="input-group mb-3">
                                  <input  class ="form-control form-control-lg mt-4" name="goal" type="text" placeholder="Please Edit this study's Goal" autofocus>
                                  <input class="btn btn-success mt-4" type="submit"  value="Edit">  
                                </div>
                                </div>
                            </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<script>
  // send goal url to view
  function setGoalId(goalId) {
    document.getElementById('edit_goal_form').action = "/habits/habit_detail/edit_goal/" + goalId + "/";
  }

  //send day-id to backend and get data from there
  $(document).ready(function() {
    $('.day-cell').click(function() {
      var dayId = $(this).data('day-id');
      
      $.ajax({
        url: "{% url 'task' %}",  // Replace with the URL of your Django view
        type: 'GET',
        data: { day_id: dayId },
        success: function(res) {
          // Update the content div with the received data
          $('#date_count').html("Today is the " + res.date_id + " Studying day.");
          $('#title').html(res.title);
          $('#content').html(res.content);
        },
        error: function(xhr) {
          console.log(xhr.responseText);
        }
      });
    });
  });
//  change table data color
$(document).ready(function() {
    // Add click event listener to all td elements
    $('td').click(function() {
      // Remove 'table-warning' class from all td elements
      $('td').removeClass('table-warning');

      // Add 'table-warning' class to the clicked td
      $(this).addClass('table-warning');
    });
  });


</script>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}



