{% extends 'base.html'%}
{% load static %}

{% block content %}


<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"> 일상 성공  </div>
    </div>
</header>

<style>
  td:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.7);
  }
</style>

<div class="detail-section container bg-light">
  
  <div class="row cal-row">
    <h3 class="col-md-7 col-lg-7" >Goal of this study</h3>
    
    <div class="col-md-7 col-lg-7">
    {%  for goal in goals|slice:":3" %}
    <div class="card">
      <div class="card-body">
        <h4>{{goal.goal}}</h4>
        <span style="position: relative; float: right;">
          <a href="{% url 'completed' goal.pk %}"class="btn btn-success"><i class="fa fa-check"></i></a>
          <a href="{% url 'delete_goal' goal.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
          <a href="#goal_edit_modal" data-bs-toggle="modal" class="btn btn-primary" onclick="setGoalId('{{ goal.pk }}')"><i class="fa fa-pencil"></i></a>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
  
    <div class="col-md-5 col-lg-5">
      <h4>Completed Goals</h4>
      {% for goal in completed_goals|slice:":3" %}
      <div class="card m-1">
        <div class = "card-body"> 
          <h5>{{goal.goal}}</h5>
          <span style="position: relative; float: right;">
            <a href="{% url 'undo_goal' goal.pk %}"class="btn btn-warning"><i class="fa fa-refresh"></i></a>
            <a href="{% url 'delete_goal' goal.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
          </span>
          
        </div>
      </div>
      {% endfor %}
    </div>
  
  </div>

  {% if goals.count < 3 %}
  <form class="form-group input-group"  action = "{% url 'add_goal'%}" method="POST">
    {% csrf_token %}
    <div class="col-lg-6 col-sm-9 col-md-8">
      <div class="input-group mb-3">
        <input  class ="form-control mt-4" name="goal" type="text" placeholder="Please Add this study's Goal" autofocus>
        <input class="btn btn-success mt-4" type="submit"  value="Add">
      </div>
      </div>
  </form>
  {% endif %}

  
</div>


<div class="detail-section container">

  <h2>Success Calendar</h2>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true" aria-controls="collapseExample">Toggle Table</button>
  <div id="collapseTable" class = "collapse show table-responsive mt-4">
    <table class="table table-bordered info">
      <tbody>
        <tr>
          {% for task in tasks %}
            {% if forloop.counter0|divisibleby:7 %}
            </tr><tr> 
            {% endif %}
            <td class="day-cell {% if task.is_completed %}table-success{% endif %} {%if task == today_task%}table-warning{%endif%}" data-day-id="{{forloop.counter}}" >
              {{forloop.counter}} Day
              <p>{% if task.is_completed %}completed{% endif %}</p>
           </td>
          {% endfor %}

        </tr>
      </tbody>
    </table>
  </div>
</div>


<section class="detail-section bg-light container">
 <h1>Daily study contents</h1>
 <h2 id="date_count"></h2>

  <h2 id="title">{{ today_task.subject}}</h2>
  <div id="content">{{today_task.desc}}</div>
  <div id="content">{{day_id}}</div>
  
  <!-- <p>{{today_task.subject}}</p>
  <p>{{today_task.desc}}</p> -->
 

</section>
<section class="detail-section container" >
    <h1> Your Works</h1>
    <div id="workout-cards-container">
      {% for workout in workouts|slice:":3"%}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title" id="workout-title">{{ workout.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted" id="workout-updated-date">{{workout.updated_at}}</h6>
          <p class="card-text" id = "workout-content">{{ workout.content|safe}}</p>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link">Delete</a>
        </div>
      </div>
      {% endfor %}
    </div>


    <br>
    <form action="{% url 'workout'%}" class="form-group" method="POST">
      {% csrf_token %}
     
        <div>
          <label for="">Category</label>
          {{form.category}}
        </div>
        <div>
          <label class="mb-2">Title</label>
          {{form.title}}
        </div>
        <!--  it need upgrade default category -->  
        <p>
        <label class="mb-2">Content</label>
        {{form.content}}
        </p>
      <div class="input-group mt-3">  
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      
    </form>
</section>


<!-- habit detail goals edit modal popup-->
<div class="portfolio-modal modal fade" id="goal_edit_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="width: 500px; height: 400px; margin: auto;">
      <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg'%}" alt="Close modal" /></div>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-12">
                      <div class="modal-body">
                          <!-- Project details-->
                         
                          <form class="form-group input-group"   id="edit_goal_form"  method="POST">
                              {% csrf_token %}
                              <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="input-group mb-3">
                                  <input  class ="form-control form-control-lg mt-4" name="goal" type="text" placeholder="Please Edit this study's Goal" autofocus>
                                  <input class="btn btn-success mt-4" type="submit"  value="Edit">  
                                </div>
                                </div>
                            </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<script>

  // send goal url to view
  function setGoalId(goalId) {
    document.getElementById('edit_goal_form').action = "/habits/habit_detail/edit_goal/" + goalId + "/";
  }

  //send day-id to backend and get data from there
  $(document).ready(function() {
    $('.day-cell').click(function() {
      var dayId = $(this).data('day-id');

      clearWorkoutCards();

      fetchTaskData(dayId);
      fetchWorkoutData(dayId);

      $.ajax({
        url:"{% url 'set_day_id' %}",
        type:'GET',
        data:{
          'day_id':dayId,
        },
        success: function(response){
           // Handle the success response if needed
          console.log('Data sent to Django view successfully.');
        },
        error: function(xhr){
          // Handle errors if needed
        console.log('Error sending data to Django view.');
        }
      });
      
    });
  });

function fetchTaskData(dayId){
    $.ajax({
        url: "{% url 'task' %}",  // Replace with the URL of your Django view
        type: 'GET',
        data: { day_id: dayId },
        success: function(taskRes) {
          // Update the content div with the received data
          $('#date_count').html("Today is the " + taskRes.date_id + " Studying day.");
          $('#title').html(taskRes.title);
          $('#content').html(taskRes.content);
        },
        error: function(taskXhr) {
          console.log(taskXhr.responseText);
        }
      });
  }// end of fetchTaskData function

function fetchWorkoutData(dayId){


  $.ajax({
    url:"{% url 'get_workout' %}",
    type:"GET",
    data:{ day_id : dayId},
    success: function(workoutRes){
      var workoutCardHtml=`
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">${workoutRes.title}</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text">${workoutRes.content}</p>
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
          </div>
        </div>
      `;

      if (workoutRes.title && workoutRes.content){
        var workoutCardHtml=`
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">${workoutRes.title}</h5>
            <h6 class="card-subtitle mb-2 text-muted">${workoutRes.updated_date}<h6>
            <p class="card-text">${workoutRes.content}</p>
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
          </div>
        </div>
      `;
      $('#workout-cards-container').append(workoutCardHtml);
      } else {
        var workoutCardHtml=`
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">No WorkOut Available</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text">Start your workout routine!</p>
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
          </div>
        </div>
      `;
      $('#workout-cards-container').append(workoutCardHtml);
      }
    },
    error: function(workoutXhr){
      console.log(workoutXhr.responseText);
    }
  });
}// end of fetchWorkoutData function

//clear card function
function clearWorkoutCards(){
  $('#workout-cards-container').empty();
}

//  change table data color
$(document).ready(function() {
    // Add click event listener to all td elements
    $('td').click(function() {
      
      // Remove 'table-warning' class from all td elements
      $('td').removeClass('table-warning');

      // Add 'table-warning' class to the clicked td
      $(this).addClass('table-warning');
    });
  });

</script>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>


{% endblock %}



