{% extends 'base.html' %}
{% load static %}

{% block content %}


<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">로그인 페이지 입니다. </div>
    </div>
</header>

{% if request.GET.command == 'verification' %}

<div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">
    Thank you for registering with us. We have sent you a verification email to your email address [{{ request.GET.email }}]
    <br><br>
    Already verified? <a href="{% url 'login' %}">Login</a>
    </div>
    
{% else %}
 
<div class="card mx-auto" style="max-width: 450px; margin-top:100px;">
    <div class="card-body">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Login</h2>
            {% include 'includes/alerts.html' %}
        </div>
        <form action="{% url 'login'%}" method="POST">
        {% csrf_token %} 
        <div class="form-group">
            <!-- Email address input-->
            <label for="">Email</label>
            <input class="form-control" id="email" type="email" name="email" placeholder="Your Email *" data-sb-validations="required,email" />
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
        </div>
        <br>
        <div class="form-group">
            <!-- Email address input-->
            <label for="">password</label>
            <input class="form-control" id="password" type="password" name="password" data-sb-validations="비밀번호를 입력해주세요." />
        </div>
        <br>
        <div class="text-center"><button class="btn btn-primary btn-lg text-uppercase" id="submitButton" type="submit">Login</button></div>
    </form>
    </div>
</div>
<br>
<p class="text-center">아직 가입 안하셨나요?<a href="{% url 'policy' %}"><h6 class="text-center active">회원등록</h6></a></p>

<p class="text-center"><a href="{% url 'forgotPassword'%}" class="text-center">비밀번호찾기</a></p>


{% endif %}

{% endblock %}