
{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">회원가입 페이지 입니다. </div>
    </div>
</header>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        {% include 'includes/alerts.html' %}
        <div class="text-center">
            <h2 class="section-heading text-uppercase">회원가입</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <form id="contactForm" action="{% url 'register'%}" method="POST">
            {% csrf_token %}
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <div class="form-text">
                            <label class="form-label">이메일</label>
                        </div>
                        <div class="form-group">
                            {{ form.email}}
                        </div>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>

                    <div class="form-group">
                        <div class="form-text">
                            <label class="form-label">비밀번호</label>
                        </div>
                        <div class="form-group">
                            {{ form.password}}
                        </div>
                        <div class="invalid-feedback" data-sb-feedback="password:required">비밀번호를 입력해주세요.</div>
                    </div>

                    <div class="form-group">
                        <div class="form-text">
                            <label class="form-label">비밀번호 확인</label>
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password}}
                        </div>
                        <div class="invalid-feedback" data-sb-feedback="password:required">비밀번호를 확인해 주세요.</div>
                    </div>
                    
                    <!-- <div class="form-group">
                        <div class="form-text">
                            <label class="form-label">핸드폰 번호</label>
                        </div>
                        <div class="form-group">
                            {{ form.phone_number}}
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-text">
                            <label class="form-label">성</label>
                        </div>
                        <div class="form-group">
                            {{ form.first_name}}
                        </div>
                        <div class="form-text">
                            <label class="form-label">이름</label>
                        </div>
                        <div class="form-group">
                            {{ form.last_name}}
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="form-text">
                            <label class="form-label">주소</label>
                        </div>
                        <div class="form-group">
                            {{ form.address}}
                        </div>
                        <div class="form-group">
                            {{ form.detail_address}}
                        </div>
                        
                        <button class = "btn btn-primary btn-lg text-uppercase">주소찾기
                        </button>
                    </div>
                    
                </div>
            </div>

            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">회원가입완료</button></div>
            
        </form>
    </div>
</section>



{% endblock %}