{% extends 'base.html' %}
{% load static %}

{% block content %}


<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"> 비밀번호 찾기 페이지 입니다. </div>
    </div>
</header>
 
<div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
    <div class="card-body">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">비밀번호찾기</h2>
            {% include 'includes/alerts.html' %}
        </div>
        <form action="{% url 'resetPassword'%}" method="POST">
        {% csrf_token %} 
        <div class="form-group">
            <!-- Email address input-->
            <label for="">비밀번호</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="비밀번호" data-sb-validations="required,email" />
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
            <br>
            <label for="">비밀번호 확인</label>
            <input class="form-control" id="password" type="password" name="confirm_password" placeholder="비밀번호 확인" data-sb-validations="required,email" />
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
        </div>

        <br>
        <div class="text-center"><button class="btn btn-primary btn-lg text-uppercase" id="submitButton" type="submit">Submit</button></div>
    </form>
    <br>
    <div class="text-center">비밀번호를 찾으 셨나요? <a href="{url 'login'}" class="text-center"> Login</a></div>
    </div>
</div>
<br>
<p class="text-center">아직 가입 안하셨나요?<a href="{% url 'policy' %}"><h6 class="text-center active">회원등록</h6></a></p>




{% endblock %}